.main_section {
    background-color: $main-section-color;
    width: 70%;
    flex-grow: 1;

    .toast{
        position: fixed;
        right: 15px;
        top: 50px;
        border-radius: 5px;
        padding: 15px 30px;
        box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1);
        z-index: 1000;
        max-width: 300px;
        animation: toastAnimation 2.3s ease-in-out forwards;
        span{

        }
    }
    .toast_success{
        background-color: #10b981;
        border-left: 10px solid #059669 ;
    }

    .toast_error {
        background-color: #ef4444;
        border-left: 10px solid #dc2626;
    }

    nav {
        background-color: $black;
        display: flex;
        justify-content: space-between;

        div{
            display: flex;
        }

        a, button {
            text-decoration: none;
            display: block;
            padding: 13px 15px;
            border: none;
            background-color: transparent;
            font-size: 16px;

            &:hover {
                background-color: #3137C9;
            }
        }
    }

    .content {
        padding: 60px 7%;

        .article_form {
            width: 100%;
            position: relative;

            textarea {
                resize: vertical;
                width: 100%;
                background-color: $input-black;
                padding: 28px;
                font-size: 18px;
                border-radius: 5px;
                overflow: auto;
                font-weight: 100;
                height: fit-content;
                display: block;

                &::placeholder {
                    font-weight: 100;
                }
            }

            button {
                background-color: $submit-color;
                border-radius: 25px;
                width: 44px;
                height: 44px;
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 20px;
            }
        }

        .articles {
            padding-top: 30px;

            .article {
                margin-bottom: 30px;
                background-color: $primary-color;

                img.main_photo {
                    width: 100%;
                }

                .text_content {
                    padding: 25px;

                    h2 {
                        font-size: 30px;
                        margin-bottom: 15px;
                    }

                    p {
                        font-size: 18px;
                        line-height: 28px;
                        margin-bottom: 21px;
                        text-align: justify;
                    }

                    .row {
                        display: flex;
                        justify-content: space-between;

                        .left {
                            display: flex;
                            gap: 21px;
                            align-items: center;

                            span {
                                color: $small-text-color;
                            }
                        }

                        a {
                            color: $secondary-color;
                        }
                    }
                }
            }
        }
    }
}

@keyframes toastAnimation {
    0% {
        opacity: 0;
        //transform: translateX();
    }
    10%{
        opacity: 1;
    }
    80%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
